<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :url %></strong>
  <%= link_to @link.url %>
</p>

<p>
<strong><%= t :result %></strong>
  <%= link_to @hlink %>
</p>

<%= link_to t(:edit), edit_link_path(@link) %> |
<%= link_to t(:back), links_path %>
